libs/mible_app_authen/m*.c
libs/mible_app_authen/*.a
demos/BlueNRG-1/mible_std_authen/EWARM/BlueNRG-1/Server/*
demos/BlueNRG-1/mible_std_authen/EWARM/BlueNRG-1/*.dep
demos/BlueNRG-1/mible_std_authen/EWARM/BlueNRG-1/settings/*.wsdt
