[submodule "libs/common"]
	path = libs/common
	url = https://github.com/MiEcosystem/mijia_ble_common.git
[submodule "demos/Cypress/portable"]
	path = demos/Cypress/portable
	urn = https://github.com/MiEcosystem/mijia_ble_api.git
